ahocorapy==1.6.1
altgraph==0.17
beacontools==2.1.0
beautifulsoup4==4.9.1
certifi==2020.4.5.1
chardet==3.0.4
chromedriver-binary==88.0.4324.96.0
construct==2.10.56
distlib==0.3.4
filelock==3.4.1
future==0.18.2
idna==2.9
importlib-metadata==3.7.0
importlib-resources==5.4.0
lxml==4.6.2
macholib==1.14
pipenv==2022.3.24
platformdirs==2.4.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
requests==2.23.0
selenium==3.141.0
six==1.16.0
soupsieve==2.0.1
typing-extensions==3.7.4.3
urllib3==1.25.9
virtualenv==20.14.0
virtualenv-clone==0.5.7
zipp==3.4.0
