<a href="{%url 'ShiftManagementApp:index'%}"><<戻る</a>
{% if detaildate %}
<!--detaildateはすでにpkでフィルターされたあとなので配列ではない-->
    <li>
        ユーザーID:{{detaildate.user_id}}<br>
        日付:{{detaildate.date}}<br>
        開始時間:{{detaildate.begin}}<br>
        終了時間:{{detaildate.finish}}<br>
    </li>
    <button onclick="location.href='{% url 'ShiftManagementApp:EditShift' detaildate.id%}'">edit</button>
    <button onclick="location.href='{% url 'ShiftManagementApp:DeleteShift' detaildate.id%}'">delete</button>
{%endif%}