{% load static %}
{{ shift|json_script:"event-data" }}
<!doctype html>
<html lang="ja">
  <head>
    <title>ShiftManagementApp</title>
    <meta name="csrf-token" content={% csrf_token %}>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{% static 'ShiftManagementApp/starter-template.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href="{% static 'ShiftManagementApp/main.css' %}" rel='stylesheet' />
    <script src="{% static 'ShiftManagementApp/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--JQuery読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--moment.js読み込み-->
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    
    <script>
        /*カレンダー描画***********/
        document.addEventListener('DOMContentLoaded', function draw_calender() {
          var calendarEl = document.getElementById('calendar');
          let eventData = JSON.parse(document.getElementById("event-data").textContent);
          var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ja',
            displayEventEnd :true,
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'listMonth,dayGridMonth,timeGridWeek'
            },
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            selectable: true,
            eventBackgroundColor:'ff0000',
            contentHeight: 'auto',
            selectLongPressDelay:0,
            eventTimeFormat:{
                hour: 'numeric',
                minute: '2-digit',
                omitZeroMinute: true,
                meridiem: 'narrow'
                },

            eventClick: function (info){ //イベントクリックで実行
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                axios.defaults.xsrfCookieName = "csrftoken"
                const date = moment(info.event.start).format('YYYY-MM-DD');
                const start = moment(info.event.start).format('YYYY-MM-DDTHH:mm');
                const end = moment(info.event.end).format('YYYY-MM-DDTHH:mm');
                $('#shift_id').val(info.event.id)//shiftのidはイベントのid
                $('#date').val(date);
                $('#start').val(start);
                $('#end').val(end);
                $('#testModal').modal('show');

                /*送信ボタン押下時*/
                $('#submit').off('click') //offでクリックイベントを削除することで複数登録を防ぐ
                $('#submit').click(function(){
                    //イベント追加する時使うためidは保持しておく
                    let shift_id = info.event.id;
                    axios
                        .post("{%url 'ShiftManagementApp:SubmitShift-Ajax' %}",{
                            'date':$('#date').val(),
                            'start':$('#start').val(),
                            'end':$('#end').val(),
                            'id':shift_id
                        })
                        .then((res)=>{
                            console.log(typeof(res.data));
                            //calendar.getEventSources().remove();
                            $('#testModal').modal('hide'); //modalを閉じる
                            //新しいeventDataを取得
                            eventData = res.data
                            
                            /*
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                locale: 'ja',
                                displayEventEnd :true,
                                headerToolbar: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'dayGridMonth,listMonth'
                                },
                                navLinks: true, // can click day/week names to navigate views
                                editable: true,
                                selectable: true,
                                eventBackgroundColor:'ff0000',
                                eventTimeFormat:{
                                    hour: 'numeric',
                                    minute: '2-digit',
                                    meridiem: false
                                    },
                                events: eventData,
                                });
                                */
 
                            
                        })
                        .catch(()=>{
                            alert("送信失敗しました。再読み込みしてください");
                        })
                        let event = calendar.getEventById($('#shift_id').val())
                        event.remove();

                        calendar.addEvent({
                        id : shift_id,
                        start : $('#start').val(),
                        end : $('#end').val(),
                        borderColor : '#ff0000',
                        })
                        calendar.render();
                        /*
                        calendar.addEvent({
                        id : $('#shift_id').val(),
                        start : $('#start').val(),
                        end : $('#end').val(),
                        borderColor : '#ff0000',
                    });
                    */
                    
                /*削除ボタン押下時*/
                })
                $('#delete-shift').off('click');
                $('#delete-shift').click(function(){
                    axios
                        .post("{%url 'ShiftManagementApp:edit-shift-Ajax-delete-shiftdata' %}",{
                            'id':$('#shift_id').val()
                        })
                        .then((res)=>{
                            console.log(res.data);
                            console.log($('#shift_id').val())
                            //calendar.getEventSources().remove();
                            $('#testModal').modal('hide'); //modalを閉じる
                            //新しいeventDataを取得
                            eventData = res.data
                            //カレンダー再描画
                            let event = calendar.getEventById($('#shift_id').val())
                            event.remove();
                            calendar.render();
                            
                        })
                        .catch(()=>{
                            alert("送信失敗しました。再読み込みしてください");
                        })
                })
            },
            //日付の枠クリックで実行される
            select: function (info) {
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                axios.defaults.xsrfCookieName = "csrftoken"

                const day = moment(info.start).format('YYYY-MM-DD');//momentとformatで指定の方に変換
                const start_end_time =moment(info.start).format('YYYY-MM-DDTHH:mm');
                
                /*modalの値を初期化*/
                $('#shift_id').val('');
                $('#date').val(day);//formのid=dateの場所(今回は日付)に出力 
                $('#start').val(start_end_time);
                $('#end').val(start_end_time);
                $('#testModal').modal('show');//指定のidのモーダルを表示
                $('#submit').off('click') //offでクリックイベントを削除することで複数登録を防ぐ
                $('#submit').click(function(){
                    axios
                        .post("{% url 'ShiftManagementApp:SubmitShift-Ajax' %}",{
                            'id':null,
                            'date':$('#date').val(),
                            'start':$('#start').val(),
                            'end':$('#end').val()
                        })
                        .then((res)=>{
                            console.log(res.data[0]['res_code']==true);
                            if(res.data[0]['res_code']==true){
                                console.log('true');
                                let shift_id = res.data[0]['shift_id'];
                                //カレンダーに新しいイベントを追加
                                calendar.addEvent({
                                    id : shift_id,
                                    start : $('#start').val(),
                                    end : $('#end').val(),
                                    borderColor : '#ff0000',
                                })   
                            }else{
                                console.log('else')
                                alert("そのシフトは編集できません")
                            }
                        })
                        .catch((error)=>{
                                console.log(error.response);
                                alert("送信失敗しました。再読み込みしてください。");
                            })
                        $('#testModal').modal('hide'); //modalを閉じる
                    
                });
            },
            events: eventData,
          });
      
          calendar.render();
        });
    </script>
    <script>

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    };
    $(function(){
        $(document).on('click','#shiftsubmit',function () {
        $.ajaxSetup({
            headers: {
            "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content"),
            },
        });

        var formData = $("#form").serialize();
        console.log(formData);
        $.ajax({
        //POST通信
        type: "post", //HTTP通信のメソッドをPOSTで指定
        //ここでデータの送信先URLを指定します。
        url: "", //通信先のURL
        dataType: "json", // データタイプをjsonで指定
        contentType: 'application/json',
        data: formData, // serializeしたデータを指定
        headers:{'X-CSRFToken': getCookie(name)},
        })
        //通信が成功したとき
        .done((res) => {
        console.log(res);
        // カレンダーの再描画
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
            left: "prev,next today",
            center: "title",
            right: "dayGridMonth,timeGridWeek,timeGridDay,listWeek",
            },
            locale: "ja",
            editable: true,
            eventSources: [
            {
                googleCalendarId: "japanese__ja@holiday.calendar.google.com", //祝日の予定を取得
                rendering: "background",
                color: "#FF6666",
            },
            ],
            events: res,
            selectable: true,
        });
        calendar.render(); //カレンダーを再描画
        })
        //通信が失敗したとき
        .fail((error) => {
        console.log(error.statusText);
        });
        });
        var formData = $("#form").serialize();
        console.log(formData);
    });
    </script>
<script>
    $(function(){
        $('#shiftsubmit-2').click(function(){
            var formData = $("#form-test").serialize();
            console.log('formData')
            console.log(formData)
            $.ajax({
                type: "post", //HTTP通信のメソッドをPOSTで指定
                //ここでデータの送信先URLを指定します。
                url: "http://127.0.0.1:8000/ShiftManagementApp/SubmitShift-Ajax/", //通信先のURL
                dataType: "json", // データタイプをjsonで指定
                data: formData, // serializeしたデータを指定
                headers:{'X-CSRFToken': getCookie(name)},
            })
            .done((res)=>{
                
            }
            )
        })
    })
</script>
    
    <style>
    
        body {
          margin: 40px 10px;
          padding: 0;
          font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
          font-size: 14px;
          margin-top: 100px;
        }
      
        #calendar {
          max-width: 1100px;
          margin: 0 auto;
        }
      
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  </head>
  
    <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'ShiftManagementApp:index'%}">ホーム <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'ShiftManagementApp:edit-shift'%}">シフト編集</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'ShiftManagementApp:Logout' %}">ログアウト</a>
                </li>
            </ul>
        </div>
    </nav>

<main role="main" class="container">
    <p class="h6 text-right">ログイン中:{{User.username}}さん</p>
    <div class="container">
      <div class="row mb-5">
          <div class="col-2">
              <button type="button" class="btn btn-primary mb-12" data-toggle="modal" data-target="#testModal">シフト提出</button>
          </div>
      </div>
  </div>
  
  <div id='calendar'></div>

    <a href="{%url 'ShiftManagementApp:SubmitShift'%}">シフト提出</a>
    {%if indexview%}
        {%for a in indexview%}
            <ul>
                <li><a href="{%url 'ShiftManagementApp:detaildate' a.id%}">{{a.date}}</a></li>
            </ul>
        {%endfor%}
    {%endif%}

     
    <!-- モーダルの内容 -->
    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">シフト提出</h4>
              </div>
              <div class="modal-body">
                  <label>シフト希望を入力してください</label>
                  <form action="POST" id="form">
                    <div class="form-group">
                        <label class="control-label">シフトID</label>
                        <input class="form-control" type="number" id="shift_id" readonly><!--readonlyで編集不可-->
                      </div>
                    <div class="form-group">
                      <label class="control-label">ユーザーID</label>
                      <input class="form-control" type="number" value={{User.id}} readonly><!--readonlyで編集不可-->
                    </div>
                    <div class="form-group">
                      <label class="control-label">日付</label>
                      <input class="form-control" type="date" id="date" readonly>
                    </div>
                    <div class="form-group">
                      <label class="control-label">出勤</label>
                      <input class="form-control" type="datetime-local" id="start">
                    </div>
                    <div class="form-group">
                      <label class="control-label">退勤</label>
                      <input class="form-control" type="datetime-local" id="end">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                      <button type="button" class="btn btn-outline-danger" id="delete-shift">削除</button>
                      <button type="button" class="btn btn-danger" type="submit" id="submit">決定</button>
                  </div>

                  </form>
              </div>
              </div>
          </div>
      </div>
  </div>
</main><!-- /.container -->

    
<script>
  window.jQuery || document.write('<script src="{% static 'ShiftManagementApp/jquery-slim.min.js' %}"><\/script>')
</script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script><script src="/docs/4.3/assets/js/vendor/anchor.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/clipboard.min.js"></script>
<script src="/docs/4.3/assets/js/vendor/bs-custom-file-input.min.js"></script>
<script src="/docs/4.3/assets/js/src/application.js"></script>
<script src="/docs/4.3/assets/js/src/search.js"></script>
<script src="/docs/4.3/assets/js/src/ie-emulation-modes-warning.js"></script>
<!--- slim版なのでコメントアウト
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

