{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "ShiftManagementApp/style.css" %}'/>
    <title>Index</title>
</head>
<body>
    <h3><font color="red">{{ UserID }}</font>さんようこそ！！</h3>
    <a href="{%url 'ShiftManagementApp:Logout' %}">ログアウト</a>
    <a href="{%url 'ShiftManagementApp:SubmitShift'%}">シフト提出</a>
    {%if indexview%}
        {%for a in indexview%}
            <ul>
                <li><a href="{%url 'ShiftManagementApp:detaildate' a.id%}">{{a.date}}</a></li>
            </ul>
        {%endfor%}
    {%endif%}
</body>
</html>