{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href='{% static "ShiftManagementApp/style.css" %}'/>

</head>
<body>
<h1>ログイン画面</h1>

<div class="reg">
  <form method="post" action="{% url 'ShiftManagementApp:Login' %}">
    {% csrf_token %}

    <table class="reg_form">
    <tr>
    <td><label for="email">メールアドレス:</label></td>
    <td><input type="email" name="email"></td>
    <td><label for="password">パスワード：</label></td>
    <td><input type="password" name="password"></td>
    </tr>
    </table>

    <input type="submit" class="btn" value="Login">
 </form>
</div>
</body>
</html>